<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>视频</title>

<!-- CSS
================================================== -->
<link rel="stylesheet" th:href="@{/static/video/css/style.css}" href="assets/css/style.css">
<link rel="stylesheet" th:href="@{/static/video/css/night-mode.css}" href="assets/css/night-mode.css">
<link rel="stylesheet" th:href="@{/static/video/css/framework.css}" href="assets/css/framework.css">

<!-- icons
================================================== -->
<link rel="stylesheet" th:href="@{/static/video/css/icons.css}" href="assets/css/icons.css">

<!-- Google font
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<head th:include="include :: head"></head>
<body class="antialiased">
<div class="page">
    <header class="navbar navbar-expand-md navbar-light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a th:href="@{index.html}" href="../.."
               class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
                <img th:src="@{/static/image/logo/logo.svg}" src="../static/images/logo/logo.svg" alt="Tabler"
                     class="navbar-brand-image">
            </a>
            <!--头部右边 是否登录还是显示用户头像-->
            <div th:replace="include :: navigationBar">
            </div>
        </div>
    </header>
    <!--导航栏-->
    <div th:include="include :: navigationMenu" class="navbar-expand-md"></div>
    <!--content-->
    <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto" style="text-align: center;width: 100%">
                        <div class="uk-position-relative uk-visible-toggle uk-light uk-slideshow" tabindex="-1"
                             uk-slideshow="animation: push ;min-height: 200; max-height: 350 ;autoplay: t rue">

                            <ul class="uk-slideshow-items rounded" style="min-height: 350px;">
                                <li tabindex="-1" class="" style="">
                                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1"
                                         style="transform: scale(1);">
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/banner/img3.jpg" alt="" uk-cover="" class="uk-cover"
                                             style="height: 542px; width: 1300px;">
                                    </div>
                                    <div class="uk-position-cover"
                                         uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"
                                         style="background-color: rgb(0, 0, 0); opacity: 0.2;"></div>
                                    <div class="uk-position-bottom-left bg-gradient-4 uk-width-1-1 p-4">
                                        <div uk-slideshow-parallax="scale: 1,1,0.8" style="transform: scale(0.8);"
                                             class="">
                                            <h1 uk-slideshow-parallax="x: 200,0,0" class="uk-heading-small"
                                                style="transform: translateX(0px);"> Enjoy Watching
                                            </h1>
                                        </div>
                                    </div>
                                </li>
                                <li tabindex="-1" class="uk-active uk-transition-active" style="">
                                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1"
                                         style="transform: scale(1.2);">
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/banner/img2.jpg" alt="" uk-cover="" class="uk-cover"
                                             style="height: 542px; width: 1300px;">
                                    </div>
                                    <div class="uk-position-cover"
                                         uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"
                                         style="background-color: rgb(0, 0, 0); opacity: 0;"></div>
                                    <div class="uk-position-bottom uk-position-medium uk-transition-scale-down">
                                        <h1 uk-slideshow-parallax="x: 200,0,0" class="uk-heading-small"
                                            style="transform: translateX(0px);">Discover Life</h1>
                                    </div>
                                </li>
                            </ul>

                            <a class="uk-position-center-left-out uk-position-small uk-hidden-hover slidenav-prev"
                               href="#" uk-slideshow-item="previous"></a>
                            <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next"
                               href="#" uk-slideshow-item="next"></a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Videos sliders 1 -->
                <div class="video-grid-slider mt-4 uk-slider uk-slider-container" uk-slider="finite: true">

                    <div class="grid-slider-header">
                        <div>
                            <h3> 最新更新 </h3>
                            <p> Channals You are Fallowing. </p>
                        </div>
                        <div class="grid-slider-header-link">

                            <div class="btn-arrow-slider">
                                <a href="#" class="btn-arrow-slides uk-invisible" uk-slider-item="previous">
                                    <span class="arrow-left"></span>
                                </a>
                                <a href="#" class="btn-arrow-slides" uk-slider-item="next">
                                    <span class="arrow-right"></span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid" style="transform: translate3d(0px, 0px, 0px);">

                        <li tabindex="-1" class="uk-active">
                            <a href="single-video.html" class="video-post">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-count">1.4M</span>
                                    <span class="video-post-time">23:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <!-- option menu -->
                                    <span class="btn-option" aria-expanded="false">
                                        <i class="icon-feather-more-vertical"></i>
                                    </span>
                                    <div class="dropdown-option-nav uk-dropdown uk-dropdown-bottom-right" uk-dropdown="pos: bottom-right ;mode : hover ;animation: uk-animation-slide-bottom-small" style="left: 122.25px; top: 42px;">
                                        <ul>
                                            <li>
                                                <span> <i class="uil-history"></i> Watch Later</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/2.png" alt="">

                                </div>

                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> How to create a basic Sticky HTML element using CSS </h3>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-3.jpg" alt="">
                                    <span class="video-post-user">Jonathan Madano</span>
                                    <span class="video-post-views">531k views</span>
                                    <span class="video-post-date"> 2 weeks ago </span>
                                </div>
                            </a>
                        </li>

                        <li tabindex="-1" class="uk-active">
                            <a href="single-video.html" class="video-post">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-count">2.7k</span>
                                    <span class="video-post-time">40:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <!-- option menu -->
                                    <span class="btn-option" aria-expanded="false">
                                        <i class="icon-feather-more-vertical"></i>
                                    </span>
                                    <div class="dropdown-option-nav uk-dropdown uk-dropdown-bottom-right" uk-dropdown="pos: bottom-right ;mode : hover;animation: uk-animation-slide-bottom-small" style="left: 122.25px; top: 42px;">
                                        <ul>
                                            <li>
                                                <span> <i class="uil-history"></i> Watch Later</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/1.png" alt="">
                                </div>
                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> Learn how to create a PHP singleton class </h3>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-2.jpg" alt="">
                                    <span class="video-post-user">Stella Johnson</span>
                                    <span class="video-post-views">938k views</span>
                                    <span class="video-post-date"> 3 weeks ago </span>
                                </div>
                            </a>
                        </li>

                        <li tabindex="-1" class="uk-active">
                            <a href="single-video.html" class="video-post">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-count">2.3M</span>
                                    <span class="video-post-time">14:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <!-- option menu -->
                                    <span class="btn-option" aria-expanded="false">
                                        <i class="icon-feather-more-vertical"></i>
                                    </span>
                                    <div class="dropdown-option-nav uk-dropdown uk-dropdown-bottom-right" uk-dropdown="pos: bottom-right ;mode : hover;animation: uk-animation-slide-bottom-small" style="left: 122.25px; top: 42px;">
                                        <ul>
                                            <li>
                                                <span> <i class="uil-history"></i> Watch Later</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/3.png" alt="">
                                </div>
                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> Creating a Laravel Package - and Initializing Package Folders </h3>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-5.jpg" alt="">
                                    <span class="video-post-user">Alex Dolgove</span>
                                    <span class="video-post-views">531k views</span>
                                    <span class="video-post-date"> 2 weeks ago </span>
                                </div>
                            </a>
                        </li>

                        <li tabindex="-1" class="uk-active">
                            <a href="single-video.html" class="video-post">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-time">23:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <!-- option menu -->
                                    <span class="btn-option" aria-expanded="false">
                                        <i class="icon-feather-more-vertical"></i>
                                    </span>
                                    <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover ;animation: uk-animation-slide-bottom-small">
                                        <ul>
                                            <li>
                                                <span> <i class="uil-history"></i> Watch Later</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/4.png" alt="">
                                </div>
                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> Learn how to upload files using Laravel and Filepond </h3>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-4.jpg" alt="">
                                    <span class="video-post-user">Adrian Mohani</span>
                                    <span class="video-post-views">531k views</span>
                                    <span class="video-post-date"> 2 weeks ago </span>
                                </div>
                            </a>
                        </li>

                        <li tabindex="-1" class="">
                            <a href="single-video.html" class="video-post">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-count">1.4M</span>
                                    <span class="video-post-time">23:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <!-- option menu -->
                                    <span class="btn-option" aria-expanded="false">
                                        <i class="icon-feather-more-vertical"></i>
                                    </span>
                                    <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover ;animation: uk-animation-slide-bottom-small">
                                        <ul>
                                            <li>
                                                <span> <i class="uil-history"></i> Watch Later</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                            </li>
                                            <li>
                                                <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/2.png" alt="">

                                </div>

                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> How to create a basic Sticky HTML element using CSS </h3>
                                    <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-3.jpg" alt="">
                                    <span class="video-post-user">Jonathan Madano</span>
                                    <span class="video-post-views">531k views</span>
                                    <span class="video-post-date"> 2 weeks ago </span>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>

                <!-- section header for slider 1 -->
                <div class="section-header mt-5">
                    <div class="section-header-left">
                        <h3> 浏览量 </h3>
                        <p> Channals You are Subscriped</p>
                    </div>
                    <div class="section-header-right">
                        <a href="#" class="see-all"> See all</a>
                    </div>
                </div>
                <!-- Videos sliders 1 -->
                <div class="section-small pt-0">
                    <div uk-slider="finite: true" class="uk-slider uk-slider-container">

                        <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid mb-3" style="transform: translate3d(0px, 0px, 0px);">

                            <li tabindex="-1" class="uk-active">
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-count">1.4M</span>
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <!-- option menu -->
                                        <span class="btn-option" aria-expanded="false">
                                            <i class="icon-feather-more-vertical"></i>
                                        </span>
                                        <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover ;animation: uk-animation-slide-bottom-small">
                                            <ul>
                                                <li>
                                                    <span> <i class="uil-history"></i> Watch Later</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/img-1.png" alt="">

                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Learn How-To Design &amp; Prototype in Adobe XD Tutorial </h3>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-3.jpg" alt="">
                                        <span class="video-post-user">Jonathan Madano</span>
                                        <span class="video-post-views">531k views</span>
                                        <span class="video-post-date"> 2 weeks ago </span>
                                    </div>
                                </a>
                            </li>

                            <li tabindex="-1" class="uk-active">
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-count">2.7k</span>
                                        <span class="video-post-time">40:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <!-- option menu -->
                                        <span class="btn-option" aria-expanded="false">
                                            <i class="icon-feather-more-vertical"></i>
                                        </span>
                                        <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover;animation: uk-animation-slide-bottom-small">
                                            <ul>
                                                <li>
                                                    <span> <i class="uil-history"></i> Watch Later</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/img-3.png" alt="">
                                    </div>
                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Learn How to Prototype Faster with Mockplus! in 2020 </h3>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-2.jpg" alt="">
                                        <span class="video-post-user">Stella Johnson</span>
                                        <span class="video-post-views">938k views</span>
                                        <span class="video-post-date"> 3 weeks ago </span>
                                    </div>
                                </a>
                            </li>

                            <li tabindex="-1" class="uk-active">
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-count">2.3M</span>
                                        <span class="video-post-time">14:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <!-- option menu -->
                                        <span class="btn-option" aria-expanded="false">
                                            <i class="icon-feather-more-vertical"></i>
                                        </span>
                                        <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover;animation: uk-animation-slide-bottom-small">
                                            <ul>
                                                <li>
                                                    <span> <i class="uil-history"></i> Watch Later</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/img-4.png" alt="">
                                    </div>
                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Adobe XD Design Tutorial Website Landing Page </h3>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-5.jpg" alt="">
                                        <span class="video-post-user">Alex Dolgove</span>
                                        <span class="video-post-views">531k views</span>
                                        <span class="video-post-date"> 2 weeks ago </span>
                                    </div>
                                </a>
                            </li>

                            <li tabindex="-1" class="uk-active">
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-count">1.4M</span>
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <!-- option menu -->
                                        <span class="btn-option" aria-expanded="false">
                                            <i class="icon-feather-more-vertical"></i>
                                        </span>
                                        <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover ;animation: uk-animation-slide-bottom-small">
                                            <ul>
                                                <li>
                                                    <span> <i class="uil-history"></i> Watch Later</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/img-5.png" alt="">
                                    </div>
                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Learn UI/UX Designing Latest Website In Adobe XD </h3>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-4.jpg" alt="">
                                        <span class="video-post-user">Adrian Mohani</span>
                                        <span class="video-post-views">531k views</span>
                                        <span class="video-post-date"> 2 weeks ago </span>
                                    </div>
                                </a>
                            </li>

                            <li tabindex="-1" class="">
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-count">1.4M</span>
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <!-- option menu -->
                                        <span class="btn-option" aria-expanded="false">
                                            <i class="icon-feather-more-vertical"></i>
                                        </span>
                                        <div class="dropdown-option-nav uk-dropdown" uk-dropdown="pos: bottom-right ;mode : hover ;animation: uk-animation-slide-bottom-small">
                                            <ul>
                                                <li>
                                                    <span> <i class="uil-history"></i> Watch Later</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-bookmark"></i> Add Bookmark</span>
                                                </li>
                                                <li>
                                                    <span> <i class="uil-share-alt"></i> Share Your Friends</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/video-thumbal/img-1.png" alt="">

                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Learn How-To Design &amp; Prototype in Adobe XD Tutorial </h3>
                                        <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-3.jpg" alt="">
                                        <span class="video-post-user">Jonathan Madano</span>
                                        <span class="video-post-views">531k views</span>
                                        <span class="video-post-date"> 2 weeks ago </span>
                                    </div>
                                </a>
                            </li>

                        </ul>

                        <a class="uk-position-center-left-out uk-position-small slidenav-prev uk-invisible" href="#" uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small slidenav-next" href="#" uk-slider-item="next"></a>

                    </div>

                </div>
                <!-- find channals  header -->
                <div class="section-header mt-5">
                    <div class="section-header-left">
                        <h4> 所有歌手</h4>
                        <p> Channals Your Friends are in . </p>
                    </div>
                    <div class="section-header-right">
                        <a href="browse-channals.html" class="see-all"> See all</a>
                    </div>
                </div>
                <!-- find channals -->
                <div class="uk-child-width-1-2@m uk-grid" uk-grid="">
                    <div class="uk-first-column">

                        <div class="uk-grid-small uk-grid" uk-grid="">
                            <div class="uk-width-auto uk-first-column">
                                <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-2.jpg" class="rounded-lg" width="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="mb-2 uk-text-truncate"> Jonathan Madano</h4>
                                <p class="uk-text-small">
                                    <span> 13 Subscribers - </span>
                                    <span> 15 Video per week</span>
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <a href="single-channal.html" class="button soft-primary circle"> <i class="uil-plus mr-2"></i>更新订阅</a>
                            </div>
                        </div>

                    </div>
                    <div>

                        <div class="uk-grid-small uk-grid" uk-grid="">
                            <div class="uk-width-auto uk-first-column">

                                <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-4.jpg" class="rounded-lg" width="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="mb-2 uk-text-truncate"> Ninja Medai</h4>
                                <p class="uk-text-small">
                                    <span> 13 Subscribers - </span>
                                    <span> 15 Video per week</span>
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <a href="single-channal.html" class="button soft-primary circle"> <i class="uil-plus mr-2"></i>更新订阅</a>
                            </div>
                        </div>

                    </div>
                    <div class="uk-grid-margin uk-first-column">

                        <div class="uk-grid-small uk-grid" uk-grid="">
                            <div class="uk-width-auto uk-first-column">
                                <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-3.jpg" class="rounded-lg" width="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="mb-2 uk-text-truncate"> Alex Dolgove</h4>
                                <p class="uk-text-small">
                                    <span> 13 Subscribers - </span>
                                    <span> 15 Video per week</span>
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <a href="single-channal.html" class="button soft-primary circle"> <i class="uil-plus mr-2"></i>更新订阅</a>
                            </div>
                        </div>

                    </div>
                    <div class="uk-grid-margin">

                        <div class="uk-grid-small uk-grid" uk-grid="">
                            <div class="uk-width-auto uk-first-column">
                                <img src="https://www.17sucai.com/preview/1424582/2020-03-17/tubelite/assets/images/avatars/avatar-1.jpg" class="rounded-lg" width="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="mb-2 uk-text-truncate"> Adrian Mohani </h4>
                                <p class="uk-text-small">
                                    <span> 13 Subscribers - </span>
                                    <span> 15 Video per week</span>
                                </p>
                            </div>
                            <div class="uk-width-auto">
                                <a href="single-channal.html" class="button soft-primary circle"> <i class="uil-plus mr-2"></i>更新订阅</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--<footer th:replace="include :: footer" class="footer footer-transparent"></footer>-->
</div>
<script>
    document.body.style.display = "block";
</script>
<!-- Libs JS -->
<script th:src="@{/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js}" src=""></script>
<script th:src="@{/static/video/js/framework.js}" src="assets/js/framework.js"></script>
    <script th:src="@{/static/video/js/simplebar.js}" src="assets/js/simplebar.js"></script>
<script th:src="@{/static/video/js/main.js}" src="assets/js/main.js"></script>
<script>

</script>
</body>
<style>

</style>
</html>