<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>瞅啥呢</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/modules/login/images/icons/favicon.ico"  th:href="@{/modules/login/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/modules/login/vendor/bootstrap/css/bootstrap.min.css"  th:href="@{/modules/login/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/modules/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/modules/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/modules/login/vendor/animate/animate.css" th:href="@{/modules/login/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/modules/login/vendor/css-hamburgers/hamburgers.min.css" th:href="@{/modules/login/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/modules/login/vendor/select2/select2.min.css"  th:href="@{/modules/login/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/modules/login/css/util.css"  th:href="@{/modules/login/css/util.css}">
    <link rel="stylesheet" type="text/css" href="../static/modules/login/css/main.css"  th:href="@{/modules/login/css/main.css}">
    <!--===============================================================================================-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../static/modules/login/images/img-02.png" th:src="@{/modules/login/images/img-01.png}" alt="IMG">
            </div>

            <form class="login100-form validate-form" id="signupForm">
					<span class="login100-form-title">
						后台管理系统
					</span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username" placeholder="用户名">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="password" placeholder="密码">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"  id="btnSubmit" data-loading="正在验证登录，请稍后...">
                        点撒，看啥子看！
                    </button>
                </div>

                <div class="text-center p-t-12">
						<span class="txt1">
							搞忘了？
						</span>
                    <a class="txt2" href="#">
                        找回密码
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        来嘛，来嘛~~~来注册
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!--===============================================================================================-->
<script src="../static/modules/login/vendor/jquery/jquery-3.2.1.min.js"  th:src="@{/modules/login/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/modules/login/vendor/bootstrap/js/popper.js"  th:src="@{/modules/login/vendor/bootstrap/js/popper.js}"></script>
<script src="../static/modules/login/vendor/bootstrap/js/bootstrap.min.js"  th:src="@{/modules/login/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/modules/login/vendor/select2/select2.min.js"  th:src="@{/modules/login/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script src="../static/modules/login/vendor/tilt/tilt.jquery.min.js"  th:src="@{/modules/login/vendor/tilt/tilt.jquery.min.js}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<!-- 验证插件 -->
<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/validate/messages_zh.min.js" th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/ruoyi/js/ry-ui.js" th:src="@{/ruoyi/js/ry-ui.js?v=4.1.0}"></script>
<script src="../static/ruoyi/login.js" th:src="@{/ruoyi/login.js}"></script>
<script>

</script>
</body>
</html>
