<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>博客标签</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/sysstatic/layui/css/layui.css}" href="layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/sysstatic/css/public.css}" href="css/public.css"/>
</head>
<body class="childrenBody">
<form class="layui-form" onkeydown="if(event.keyCode==13) return false;">
    <blockquote class="layui-elem-quote mod_default_box">
        <a class="layui-btn  addTag">新增</a>　
        <a class="layui-btn  saveTag">保存</a>　
        <a class="layui-btn  query">查询</a>　
    </blockquote>
    <table id="blogTag" lay-filter="blogTag"></table>
    <!--操作-->
    <script type="text/html" id="tagListBar">
        <a class="layui-btn  layui-btn-xs" lay-event="updateTag">更新</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delTag">删除</a>
    </script>
</form>
<script type="text/javascript" th:src="@{/sysstatic/layui/layui.js}" src="layui/layui.js"></script>

<script type="text/javascript">
    layui.use(['form', 'layer', 'table', 'laytpl'], function () {
        let form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            table = layui.table;

        //博客标签列表
        var tableIns = table.render({
            elem: '#blogTag',
            url: '/sys/blog/tagTist',
            cellMinWidth: 95,
            page: true,
            limits: [10, 15, 20, 25],
            limit: 10,
            autoSort: true,
            cols: [
                [
                    {field: 'id', title: 'ID', align: "center", fixed: "left"},
                    {field: 'userName', title: '用户名', edit: 'text'},
                    {field: 'tagName', title: '标签名称', edit: 'text'},
                    {field: 'articleCount', title: '文章数量',},
                    {
                        field: 'isAvailable', title: '是否可用', align: 'center',
                        templet: function (d) {
                            let checkResult = "checked";
                            if (d.isAvailable == 0) {
                                checkResult = "";
                            }
                            return '<input type="checkbox" id="' + d.id + '" name="available" lay-filter="available" lay-skin="switch" lay-text="可用|不可用" ' + checkResult + '>'
                        }
                    },
                    {
                        title: '操作', minWidth: 200, templet: '#tagListBar', fixed: "right"
                    }
                ]
            ],
            parseData: function (res) {
                if (res.code == 200) {
                    let data = {
                        "code": 0,
                        "msg": res.message,
                        "count": res.data.totalElements,
                        "data": res.data.content
                    };
                    return data;
                }
            },
        });

        //监听单元格编辑
        table.on('edit(blogTag)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            // layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
            let tr = obj.tr; //获得当前行 tr 的DOM对象
            $(obj.tr.selector).attr({"style":"background:#bceec1"});//改变当前tr颜色
        });

        //是否可用监听
        form.on('switch(available)', function (data) {
            console.log(JSON.stringify(data));
            //当前元素
            var obj = $(data.elem);
            //遍历父级tr，取第一个，然后查找第二个td，取值
            let id = obj.parents('tr').first().find('td').eq(0).text();
            obj.parents('tr').attr({"style": "background:#bceec1"});//改变当前tr颜色
            let isAvailable = data.elem.checked ? 1 : 0;
            let oldData = table.cache["blogTag"];
            for (let i = 0; i < oldData.length; i++) {
                let tag = oldData[i];
                if (tag.id === parseInt(id)) {
                    tag.available = isAvailable;
                    // 更新数据
                    let update = {};
                    update.id = id;
                    update.available = isAvailable;
                    updateTag(tag);
                    break;
                }
            }
        });

        //新增等级
        $(".addTag").click(function () {
            let oldData = table.cache["blogTag"];
            var userName = oldData[0].userName;
            var $tr = $(".layui-table-body.layui-table-main tbody tr:last");
            var newHtml = '<tr data-index="' + ($tr.data("index") + 1) + '" >' +
                '<td data-field="id" data-edit="text" align="center"  ><div class="layui-table-cell laytable-cell-1-id" >' + ($tr.data("index") + 2) + '</div></td>' +
                '<td data-field="userName" align="center"><div class="layui-table-cell laytable-cell-1-gradeName">'+userName+'</div></td>' +
                '<td data-field="tagName" data-edit="text" align="center" style="background-color:#bceec1"><div class="layui-table-cell laytable-cell-1-gradeName">请输入标签名称</div></td>' +
                '<td data-field="articleCount"  align="center"><div class="layui-table-cell laytable-cell-1-gradeValue">0</div></td>' +
                '<td data-field="available" align="center"><div class="layui-table-cell"> '
                + '<input type="checkbox"   lay-skin="switch" lay-text="可用|不可用" ' + 'checked' + '>' + '  </div></td>' +
                '<td data-field="4" data-key="1-0-4" data-content="" data-minwidth="200" class="layui-table-col-special"><div class="layui-table-cell laytable-cell-1-0-4"> <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a> <a class="layui-btn layui-btn-xs" lay-event="save">保存</a> <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a> </div></td>' +
                '</tr>';
            $(".layui-table-body.layui-table-main tbody").append(newHtml);
            $(".layui-table-fixed.layui-table-fixed-l tbody").append('<tr data-index="' + ($tr.data("index") + 1) + '"><td data-field="id" data-edit="text" align="center"><div class="layui-table-cell laytable-cell-1-id">' + ($tr.data("index") + 2) + '</div></td></tr>');
            form.render();

            let tag = {};
            tag.tagName = '';
            tag.available = 1;
            tag.isAdd = true;
            oldData.push(tag);
        });

        // query
        $(".query").click(function (){
            table.reload('blogTag');
        })
        // 保存添加的数据
        $(".saveTag").click(function (){
            let tableData = table.cache["blogTag"];
            for (let i = 0; i < tableData.length; i++) {
                if (tableData[i].isAdd) {
                    let save = tableData[i];
                    saveTag(save);
                }
            }
        })

        //列表操作
        table.on('tool(blogTag)', function (obj) {
            let layEvent = obj.event;
            if (layEvent === 'updateTag') {
                obj.data.available = obj.data.isAvailable;
                updateTag(obj.data);
            }
            // 删除分类
            if (layEvent === 'delTag') {
                deleteTag(obj.data)
            }
        });


        // 更新标签
        function updateTag(tag) {
            console.log(JSON.stringify(tag));
            //此处用layui加载动画
            let ii = layer.load();
            // 修改状态
            $.ajax({
                url: "/sys/blog/updateTag",
                data: tag,
                type: "Post",
                dataType: "json",
                success: function (data) {
                    //成功获取数据后关闭加载动画
                    layer.close(ii);
                    if (data.code == 200) {
                        layer.msg(data.message, {
                            icon: 5,
                            time: 1000
                        }, function () {
                            tableIns.reload();
                        });
                    } else {
                        layer.msg(data.message, {
                            icon: 2,
                            time: 1000
                        });
                    }

                },
                error: function (data) {
                    layer.msg('操作失败，服务发生错误', {
                        icon: 2,
                        time: 1000
                    }, function () {});
                    layer.close(ii);
                }
            });
            return false;
        };

        // 保存标签
        function saveTag(tag) {
            console.log(JSON.stringify(tag));
            //此处用layui加载动画
            var index = layer.msg('保存中，请稍候', {icon: 16, time: false, shade: 0.8});
            // 修改状态
            $.ajax({
                url: "/sys/blog/addTag",
                data: tag,
                type: "Post",
                dataType: "json",
                success: function (data) {
                    //成功获取数据后关闭加载动画
                    layer.close(index);
                    if (data.code == 200) {
                        layer.msg(data.message, {
                            icon: 5,
                            time: 1000
                        }, function () {
                            tableIns.reload();
                        });
                    } else {
                        layer.msg(data.message, {
                            icon: 2,
                            time: 1000
                        });
                    }

                },
                error: function (data) {
                    layer.msg('操作失败，服务发生错误', {
                        icon: 2,
                        time: 1000
                    }, function () {layer.close(index);});
                }
            });
            return false;
        }

        // 删除标签
        function deleteTag(tag) {
            layer.confirm("是否删除该标签", {
                icon: 3,
                title: '立即删除',
                cancel: function (index) {
                    layer.close(index);
                }
            }, function (index) {
                //此处用layui加载动画
                let ii = layer.load();
                $.ajax({
                    url: "/sys/blog/deleteTag?id=" + tag.id,
                    data: "",
                    type: "Post",
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        //成功获取数据后关闭加载动画
                        layer.close(ii);
                        if (data.code == 200) {
                            layer.msg(data.message, {
                                icon: 5,
                                time: 1000
                            });
                            tableIns.reload();
                        } else {
                            layer.msg(data.message, {
                                icon: 2,
                                time: 1000
                            }, function () {});
                        }
                    },
                    error: function (data) {
                        layer.msg('操作失败，服务发生错误', {
                            icon: 2,
                            time: 1000
                        }, function () {});
                    }
                });
                return false;
            }, function (index) {
                console.log("取消删除");
            });

        }
    })

</script>
</body>
</html>