<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:if="${articleMap != null}" th:text="${articleMap['article'].title}">预览</title>
<link rel="stylesheet" th:href="@{/static/css/blog/article.css}">
<link rel="stylesheet" th:href="@{/static/lib/highlight/css/default.min.css}" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<head th:include="include :: head"></head>
<body class="antialiased">
<div class="page">
    <header class="navbar navbar-expand-md navbar-light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a th:href="@{index.html}" href="../.."
               class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
                <img th:src="@{/static/image/logo/logo.svg}" src="../static/images/logo/logo.svg" alt="Tabler"
                     class="navbar-brand-image">
            </a>
            <!--头部右边 是否登录还是显示用户头像-->
            <div th:replace="include :: navigationBar">
            </div>
        </div>
    </header>
    <!--导航栏-->
    <div th:include="include :: navigationMenu('blog')" class="navbar-expand-md"></div>
    <!--content-->
    <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto" style="text-align: center;width: 100%">
                        <div class="article-header-box">
                            <div class="article-header">
                                <div class="article-title-box">
                                    <h1 class="title-article" id="articleContentId" th:if="${articleMap != null}"
                                        th:text="${articleMap['article'].title}">Ueditor 图片自定义上传</h1>
                                </div>
                                <div class="article-info-box">
                                    <div class="article-bar-top">
                                        <!--文章类型-->
                                        <!--原创-->
                                        <img class="article-type-img" th:src="@{/static/image/blog/original.png}"
                                             src="https://csdnimg.cn/release/phoenix/template/new_img/original.png"
                                             alt="">
                                        <!--翻译-->
                                        <!--转载-->
                                        <div class="bar-content">
                                            <a class="follow-nickName" href="https://me.csdn.net/Only_Wan"
                                               target="_blank" rel="noopener" th:if="${articleMap != null}"
                                               th:text="${articleMap['article'].userName}">Only_Wan</a>
                                            <span class="time" th:if="${articleMap != null}"
                                                  th:text="${#dates.format(articleMap['article'].publishTime, 'yyyy-MM-dd HH:mm')}">2017-04-06 14:19:56</span>
                                            <img class="article-read-img article-heard-img"
                                                 th:src="@{/static/image/blog/articleReadEyes.png}"
                                                 src="https://csdnimg.cn/release/phoenix/template/new_img/articleReadEyes.png"
                                                 alt="">
                                            <span class="read-count" th:if="${articleMap != null}"
                                                  th:text="${articleMap['article'].readCount}">3960</span>
                                            <a id="blog_detail_zk_collection" class="un-collection"
                                               data-report-click="{&quot;mod&quot;:&quot;popu_823&quot;,&quot;spm&quot;:&quot;1001.2101.3001.4232&quot;,&quot;ab&quot;:&quot;new&quot;}">
                                                <img class="article-collect-img article-heard-img un-collect-status"
                                                     th:src="@{/static/image/blog/tobarCollect.png}"
                                                     style="display:inline-block"
                                                     src="https://csdnimg.cn/release/phoenix/template/new_img/tobarCollect.png"
                                                     alt="">
                                                <img class="article-collect-img article-heard-img collect-status"
                                                     style="display:none"
                                                     th:src="@{/static/image/blog/tobarCollectionActive.png}"
                                                     src="https://csdnimg.cn/release/phoenix/template/new_img/tobarCollectionActive.png"
                                                     alt="">
                                                <span class="name">收藏</span>
                                                <span class="get-collection">
                                                </span>
                                            </a>
                                            <a class="href-article-edit" href="" target="_blank"
                                               th:if="${articleMap != null && session.sessionUser != null && session.sessionUser.userName eq  articleMap['article'].userName}"
                                               th:href="'/blog/edit/article?id='+ ${articleMap['article'].id}">编辑</a>
                                            <a class="href-article-edit slide-toggle">版权</a>
                                        </div>
                                    </div>
                                    <div class="blog-tags-box">
                                        <div class="tags-box artic-tag-box" th:if="${articleMap != null}">
                                            <span class="label">分类专栏：</span>
                                            <a class="tag-link" target="_blank" rel="noopener" href=""
                                               th:href="${}"
                                               th:if="${articleMap != null}"
                                               th:text="${articleMap['category'].categoryName}">
                                                web应用开发 </a>
                                            <span class="label">文章标签：</span>
                                            <span th:if="${articleMap['tagList'] != null}"
                                                  th:each="tag,tagStat : ${articleMap['tagList']}">
                                                <a th:if="${tag != null}" th:text="${tag.tagName}" class="tag-link"
                                                   href="" target="_blank" rel="noopener">富文本编辑器 </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-none d-lg-block col-lg-3 order-lg-1 mb-4">
                    <div class="sticky-top">
                        <h2 class="">文章目录</h2>
                        <!--显示文章标题导航-->
                        <div class="article_navigation" id="article_navigation"></div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card card-lg">
                        <div class="card-body" style="padding: 0.5rem;" >
                            <div class="markdown">
                                <div th:if="${articleMap != null}" th:utext="${articleMap['article'].content}" class="content" id="contentCardBody"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="include :: footer" class="footer footer-transparent"></footer>
    </div>
</div>

<!-- Libs JS -->
<script th:src="@{/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js}" src=""></script>
<script th:src="@{/static/lib/highlight/js/highlight.min.js}" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>

<script>
    // document.body.style.display = "block";
    // 实现代码高亮的函数。
    hljs.initHighlightingOnLoad();
    // 由于UEditor的代码中都是<pre>标签包裹的代码，所以执行下面的操作为其添加<code>标签。
    var allpre = document.getElementsByTagName("pre");
    for (i = 0; i < allpre.length; i++) {
        var onepre = document.getElementsByTagName("pre")[i];
        var mycode = document.getElementsByTagName("pre")[i].innerHTML;
        onepre.innerHTML = '<code id="mycode">' + mycode + '</code>';
    }

    $(document).ready(function () {
        $("#contentCardBody").children().each(function(index, element) {
            var tagName=$(this).get(0).tagName;
            if(tagName.substr(0,1).toUpperCase() === "H"){
                console.log(tagName);
                var contentH=$(this).html();//获取内容
                var markid="mark-"+tagName+"-"+index.toString();
                $(this).attr("id",markid);//为当前h标签设置id
                let spaceNum =  "";
                if (tagName === 'H1') {
                    spaceNum =  "";
                } else if (tagName === 'H2') {
                    spaceNum =  "";
                }  else if (tagName === 'H3') {
                    spaceNum =  "1.5";
                } else if (tagName === 'H4') {
                    spaceNum =  "3";
                } else if (tagName === 'H5') {
                    spaceNum =  "4.5";
                } else if (tagName === 'H6') {
                    spaceNum =  "6";
                }
                $("#article_navigation").append("<a href='#" + markid + "'" + " style='text-indent: " + spaceNum + "em'" + ">" + contentH + "</a>");//在目标DIV中添加内容
            }
        });
        console.log("标题导航锚点完成！");
    });

</script>
</body>
<style>
    /*显示文章内容页面右下角显示导航按钮*/
    .showtitle {
        cursor: pointer;
        position: fixed;
        right: 25px;
        bottom: 135px;
        z-index: 99999;
        display: block;
        width: 50px;
        height: 50px;
        background: url(../images/backpre.png) no-repeat 0 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .showtitle:hover {
        background: url(../images/backpre.png) no-repeat 0 -52px;
    }

    /*显示文章内容页面右方导航列表样式*/
    .article_navigation{
        /*width:300px;
        background:#fff;
        border:1px #32c6c6 solid;
        border-radius:4px;*/
        /*position:fixed;*/
        right:0;
        padding:0 6px;
        /*margin-top: 200px;*/
        z-index:9999;
        overflow: auto;
        max-height: 800px;
        /*display: block;*/
    }
    .article_navigation a{
        width:100%;
        height:1px;
        line-height:30px;
        display:inline-block;
        color: #6e7582;
    }
</style>
</html>