<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>文章编辑</title>
<head th:include="include :: head"></head>
<link th:href="@{/dist/libs/selectize/dist/css/selectize.css}" href="./dist/libs/selectize/dist/css/selectize.css"
      rel="stylesheet"/>
<link th:href="@{/dist/libs/flatpickr/dist/flatpickr.min.css}" href="./dist/libs/flatpickr/dist/flatpickr.min.css"
      rel="stylesheet"/>
<link th:href="@{/dist/libs/nouislider/distribute/nouislider.min.css}"
      href="./dist/libs/nouislider/distribute/nouislider.min.css" rel="stylesheet"/>
<body class="antialiased">
<div class="page">
    <!--<div id="currentUrl" style="display: none" th:text="${#httpServletRequest.getRequestURL()}"></div>-->
    <header class="navbar navbar-expand-md navbar-light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a th:href="@{index.html}" href="../.."
               class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
                <img th:src="@{/image/logo/logo.svg}" src="../static/images/logo/logo.svg" alt="Tabler"
                     class="navbar-brand-image">
            </a>
            <!--头部右边 是否登录还是显示用户头像-->
            <div th:replace="include :: navigationBar">
            </div>
        </div>
    </header>
    <!--导航栏-->
    <div th:include="include :: navigationMenu" class="navbar-expand-md"></div>
    <!--content-->
    <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h2 class="page-title">
                            文章编辑
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card card-lg">
                        <div class="card-body">
                            <div class="markdown">
                                <div class="d-flex">
                                    <h2 class="h1 mt-0 mb-3">Form elements</h2>
                                    <p class="ml-auto">
                                        <a href="https://getbootstrap.com/docs/4.4/components/forms/" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon pr-1 text-blue"
                                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                                                <line x1="10" y1="14" x2="20" y2="4"></line>
                                                <polyline points="15 4 20 4 20 9"></polyline>
                                            </svg>
                                            文章编辑
                                        </a>
                                    </p>
                                </div>
                                <h2 id="classic-inputs">内容编辑</h2>
                                <div class="example no_toc_section">
                                    <div class="example-content">
                                        <div class="mb-3" style="display: none">
                                            <input type="text" id="articleId" class="form-control"
                                                   name="example-text-input" placeholder="">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">标题</label>
                                            <input type="text" id="articleTitle" class="form-control"
                                                   name="example-text-input" placeholder="">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">摘要<span
                                                    class="form-label-description">0/140</span></label>
                                            <textarea class="form-control" id="articleSummary"
                                                      name="example-textarea-input" rows="6" placeholder=""></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">封面图片</div>
                                            <div class="form-file">
                                                <input type="file" class="form-file-input" id="customFile">
                                                <label class="form-file-label" for="customFile">
                                                    <span class="form-file-text">选择文件</span>
                                                    <span class="form-file-button">浏览</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">文章内容</div>
                                            <script id="editor" type="text/plain" style="height: auto"></script>
                                        </div>
                                        <div>
                                            <div id="btns">
                                                <div>
                                                    <button onclick="getAllHtml()">获得整个html的内容</button>
                                                    <button onclick="getContent()">获得内容</button>
                                                    <button onclick="setContent()">写入内容</button>
                                                    <button onclick="setContent(true)">追加内容</button>
                                                    <button onclick="getContentTxt()">获得纯文本</button>
                                                    <button onclick="getPlainTxt()">获得带格式的纯文本</button>
                                                    <button onclick="hasContent()">判断是否有内容</button>
                                                    <button onclick="setFocus()">使编辑器获得焦点</button>
                                                    <button onmousedown="isFocus(event)">编辑器是否获得焦点</button>
                                                    <button onmousedown="setblur(event)">编辑器失去焦点</button>

                                                </div>
                                                <div>
                                                    <button onclick="getText()">获得当前选中的文本</button>
                                                    <button onclick="insertHtml()">插入给定的内容</button>
                                                    <button id="enable" onclick="setEnabled()">可以编辑</button>
                                                    <button onclick="setDisabled()">不可编辑</button>
                                                    <button onclick=" UE.getEditor('editor').setHide()">隐藏编辑器</button>
                                                    <button onclick=" UE.getEditor('editor').setShow()">显示编辑器</button>
                                                    <button onclick=" UE.getEditor('editor').setHeight(300)">
                                                        设置高度为300默认关闭了自动长高
                                                    </button>
                                                </div>

                                                <div>
                                                    <button onclick="getLocalData()">获取草稿箱内容</button>
                                                    <button onclick="clearLocalData()">清空草稿箱</button>
                                                </div>

                                            </div>
                                            <div>
                                                <button onclick="createEditor()">
                                                    创建编辑器
                                                </button>
                                                <button onclick="deleteEditor()">
                                                    删除编辑器
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">分类</label>
                                            <div class="form-selectgroup form-selectgroup-pills">
                                                <label class="form-selectgroup-item">
                                                    <input type="checkbox" name="articleCategory" value="1"
                                                           class="form-selectgroup-input articleCategory" checked>
                                                    <span class="form-selectgroup-label">HTML</span>
                                                </label>
                                                <label class="form-selectgroup-item">
                                                    <input type="checkbox" name="articleCategory" value="2"
                                                           class="form-selectgroup-input  articleCategory">
                                                    <span class="form-selectgroup-label">CSS</span>
                                                </label>
                                                <label class="form-selectgroup-item">
                                                    <input type="checkbox" name="articleCategory" value="3"
                                                           class="form-selectgroup-input  articleCategory">
                                                    <span class="form-selectgroup-label">PHP</span>
                                                </label>
                                                <label class="form-selectgroup-item">
                                                    <input type="checkbox" name="articleCategory" value="4"
                                                           class="form-selectgroup-input  articleCategory">
                                                    <span class="form-selectgroup-label">JavaScript</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">标签</label>
                                            <select name="articleTags" id="select-tags-advanced"
                                                    class="form-select articleTags" multiple>
                                                <option value="1">HTML</option>
                                                <option value="2">JavaScript</option>
                                                <option value="3">CSS</option>
                                                <option value="4">jQuery</option>
                                                <option value="5">Bootstrap</option>
                                                <option value="6" selected>Ruby</option>
                                                <option value="7" selected>Python</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-label">文章类型</div>
                                            <div>
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" th:value="'原创'" name="articleType"
                                                           type="checkbox">
                                                    <span class="form-check-label">原创</span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" th:value="'转载'" name="articleType"
                                                           type="checkbox">
                                                    <span class="form-check-label">转载</span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input class="form-check-input" th:value="'翻译'" name="articleType"
                                                           type="checkbox" checked>
                                                    <span class="form-check-label">翻译</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-footer">
                                            <button type="" class="btn btn-primary" onclick="saveArticle()">保存</button>
                                            <button type="" class="btn btn-primary" onclick="previewArticle()">预览</button>
                                            <button type="" class="btn btn-primary " onclick="publishArticle()">发布</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ml-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item"><a href="../docs/index.html" class="link-secondary">Documentation</a>
                            </li>
                            <li class="list-inline-item"><a href="../faq.html" class="link-secondary">FAQ</a></li>
                            <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank"
                                                            class="link-secondary">Source code</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        Copyright © 2020
                        <a href=".." class="link-secondary">Tabler</a>.
                        All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Libs JS -->
<script th:src="@{/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"
        src="../static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--<script th:src="@{/dist/libs/jquery/dist/jquery.slim.min.js}" src="./dist/libs/jquery/dist/jquery.slim.min.js"></script>-->
<script th:src="@{/dist/libs/autosize/dist/autosize.min.js}" src="./dist/libs/autosize/dist/autosize.min.js"></script>
<script th:src="@{/dist/libs/imask/dist/imask.min.js}" src="./dist/libs/imask/dist/imask.min.js"></script>
<script th:src="@{/dist/libs/selectize/dist/js/standalone/selectize.min.js}"
        src="./dist/libs/selectize/dist/js/standalone/selectize.min.js"></script>
<script th:src="@{/dist/libs/flatpickr/dist/flatpickr.min.js}"
        src="./dist/libs/flatpickr/dist/flatpickr.min.js"></script>
<script th:src="@{/dist/libs/flatpickr/dist/plugins/rangePlugin.js}"
        src="./dist/libs/flatpickr/dist/plugins/rangePlugin.js"></script>
<script th:src="@{/dist/libs/nouislider/distribute/nouislider.min.js}"
        src="./dist/libs/nouislider/distribute/nouislider.min.js"></script>
<script type="text/javascript" th:src="@{/ueditor/ueditor.config.js}" charset="utf-8" src="ueditor.config.js"></script>
<script type="text/javascript" th:src="@{/ueditor/ueditor.all.min.js}" charset="utf-8"
        src="ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}" charset="utf-8"
        src="lang/zh-cn/zh-cn.js"></script>

<script>
    document.body.style.display = "block";
    var ctxPath = /*[[@{/}]]*/'';
    var domain = window.location.protocol + "//" + window.location.host;
    window.UEDITOR_HOME_URL = domain + ctxPath + "/ueditor/";
    console.log("UEDITOR_HOME_URL: " + window.UEDITOR_HOME_URL)
</script>
<script type="text/javascript">
    //实例化编辑器
    var ue = UE.getEditor('editor');
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function (action) {
        console.log("action: " + action);
        if (action == "config") {
            return "/ueditor?action=" + action;
        }
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
            return '/file/up/ue?action=' + action;
        }
        return this._bkGetActionUrl.call(this, action);
    };

    function isFocus(e) {
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }

    function setblur(e) {
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }

    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }

    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }

    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }

    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }

    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }

    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }

    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }

    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }

    function setFocus() {
        UE.getEditor('editor').focus();
    }

    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }

    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }

    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData() {
        alert(UE.getEditor('editor').execCommand("getlocaldata"));
    }

    function clearLocalData() {
        UE.getEditor('editor').execCommand("clearlocaldata");
        alert("已清空草稿箱")
    }
</script>
<script th:src="@{/js/blog/editblog.js}" type="text/javascript"></script>
<!--<script>
    $(document).ready(function () {
        $('#select-tags-advanced').selectize({
            maxItems: 15,
            plugins: ['remove_button'],
        });
    });

    function publishArticle() {
        var action = "/blog/article/save?action=publish";
        var data = getArticleData();
        var responseData = articleOperat(action,data);
        if (responseData.code == 200) {
            // 设置文章ID
            $("articleId").val(responseData.data.id);
            window.open(responseData.data.redirectUrl);
        }
    }

    function saveArticle() {
        var action = "/blog/article/save?action=save";
        var data = getArticleData();
        var responseData = articleOperat(action,data);
        if (responseData.code == 200) {
            // 设置文章ID
            $("articleId").val(responseData.data.id);
            alert("保存成功");
        }
    }

    function previewArticle() {
        var action = "/blog/article/save?action=preview";
        var data = getArticleData();
        var responseData = articleOperat(action,data);
        if (responseData.code == 200) {
            window.open(responseData.data.redirectUrl);
        }
    }

    function articleOperat(action,data) {
        var resultData;
        $.ajax({
            type: "post",
            url: action,
            traditional: true,
            data: {paramData: JSON.stringify(data)},
            success: function (data) {
                console.log("data: " + data.code)
                if (data.code == 200) {
                    alert("操作成功！")
                    console.log("操作成功" + data.data);
                } else {
                    console.log("操作失败" + data.message);
                }
                return  data;
            }
        });
        return resultData;
    }

    /**
     * 获取表单参数
     */
    function getArticleData(){

        var articleId = $("#articleId").val();

        var articleCategory = $("input:checkbox[name='articleCategory']:checked");
        console.log("articleCategory: " + articleCategory.val());

        var packageCodeList = new Array();
        $("#select-tags-advanced option:selected").each(function () {
            packageCodeList.push($(this).val());//向数组中添加元素
        });
        console.log("packageCodeList: " + packageCodeList.toString());

        var title = $("#articleTitle").val();
        var summary = $("#articleSummary").val();
        var content = UE.getEditor('editor').getContent();
        var type = $("input:checkbox[name='articleType']:checked").val();
        var category = $("input:checkbox[name='articleCategory']:checked").val();

        var postData = {
            "id": articleId,
            "title": title,
            "summary": summary,
            "content": content,
            "type": type,
            "category": category,
            "tags": packageCodeList
        }
        return postData;
    }

</script>-->
</body>
</html>