<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwder.manage.modules.pic.yt.mapper.ImageYt278comMapper">
    
    <resultMap type="ImageYt278com" id="ImageYt278comResult">
        <result property="id"    column="id"    />
        <result property="albumType"    column="album_type"    />
        <result property="albumName"    column="album_name"    />
        <result property="albumSourceUrl"    column="album_source_url"    />
        <result property="views"    column="views"    />
        <result property="sourceImageUrls"    column="source_image_urls"    />
        <result property="downImageUrls"    column="down_image_urls"    />
        <result property="albumImageUrl"    column="album_image_url"    />
        <result property="albumImageDownUrl"    column="album_image_down_url"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectImageYt278comVo">
        select id, album_type, album_name, album_source_url, views, source_image_urls, down_image_urls, album_image_url, album_image_down_url, gmt_create, gmt_modified from image_yt278com
    </sql>

    <select id="selectImageYt278comList" parameterType="ImageYt278com" resultMap="ImageYt278comResult">
        <include refid="selectImageYt278comVo"/>
        <where>  
            <if test="albumType != null  and albumType != ''"> and album_type = #{albumType}</if>
        </where>
    </select>
    
    <select id="selectImageYt278comById" parameterType="Long" resultMap="ImageYt278comResult">
        <include refid="selectImageYt278comVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertImageYt278com" parameterType="ImageYt278com" useGeneratedKeys="true" keyProperty="id">
        insert into image_yt278com
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="albumType != null  and albumType != ''">album_type,</if>
            <if test="albumName != null  and albumName != ''">album_name,</if>
            <if test="albumSourceUrl != null  and albumSourceUrl != ''">album_source_url,</if>
            <if test="views != null ">views,</if>
            <if test="sourceImageUrls != null  and sourceImageUrls != ''">source_image_urls,</if>
            <if test="downImageUrls != null  and downImageUrls != ''">down_image_urls,</if>
            <if test="albumImageUrl != null  and albumImageUrl != ''">album_image_url,</if>
            <if test="albumImageDownUrl != null  and albumImageDownUrl != ''">album_image_down_url,</if>
            <if test="gmtCreate != null ">gmt_create,</if>
            <if test="gmtModified != null ">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="albumType != null  and albumType != ''">#{albumType},</if>
            <if test="albumName != null  and albumName != ''">#{albumName},</if>
            <if test="albumSourceUrl != null  and albumSourceUrl != ''">#{albumSourceUrl},</if>
            <if test="views != null ">#{views},</if>
            <if test="sourceImageUrls != null  and sourceImageUrls != ''">#{sourceImageUrls},</if>
            <if test="downImageUrls != null  and downImageUrls != ''">#{downImageUrls},</if>
            <if test="albumImageUrl != null  and albumImageUrl != ''">#{albumImageUrl},</if>
            <if test="albumImageDownUrl != null  and albumImageDownUrl != ''">#{albumImageDownUrl},</if>
            <if test="gmtCreate != null ">#{gmtCreate},</if>
            <if test="gmtModified != null ">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateImageYt278com" parameterType="ImageYt278com">
        update image_yt278com
        <trim prefix="SET" suffixOverrides=",">
            <if test="albumType != null  and albumType != ''">album_type = #{albumType},</if>
            <if test="albumName != null  and albumName != ''">album_name = #{albumName},</if>
            <if test="albumSourceUrl != null  and albumSourceUrl != ''">album_source_url = #{albumSourceUrl},</if>
            <if test="views != null ">views = #{views},</if>
            <if test="sourceImageUrls != null  and sourceImageUrls != ''">source_image_urls = #{sourceImageUrls},</if>
            <if test="downImageUrls != null  and downImageUrls != ''">down_image_urls = #{downImageUrls},</if>
            <if test="albumImageUrl != null  and albumImageUrl != ''">album_image_url = #{albumImageUrl},</if>
            <if test="albumImageDownUrl != null  and albumImageDownUrl != ''">album_image_down_url = #{albumImageDownUrl},</if>
            <if test="gmtCreate != null ">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null ">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImageYt278comById" parameterType="Long">
        delete from image_yt278com where id = #{id}
    </delete>

    <delete id="deleteImageYt278comByIds" parameterType="String">
        delete from image_yt278com where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>