<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="description" content="OneDay 个人技术分享，软件工程师技术分享，Java开发工程师，Android开发工程师，前端开发工程师,it计算视频教程"/>
    <meta name="keywords" content="OneDay,OneDay个人博客,java开发，视频教程，软件下载"/>
    <meta name="description" itemprop="description"
          content="OneDay 个人技术分享，软件工程师技术分享，Java开发工程师，Android开发工程师，前端开发工程师,it计算视频教程"/>
    <!--百度站长-->
    <meta name="baidu-site-verification" content="r8pYZxcweW"/>
    <!--谷歌站长-->
    <meta name="google-site-verification" content="EN28GwBFoQjQz36Z6k3PZKfedtv2nAbCvKCwQkVXPew"/>
    <link rel="icon" th:href="${session.staticResourcePath +'/static/favicon.ico'}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="${session.staticResourcePath +'/static/favicon.ico'}" type="image/x-icon"/>
    <!-- CSS files -->
    <link th:href="${session.staticResourcePath +'/static/dist/libs/jqvmap/dist/jqvmap.min.css'}" rel="stylesheet"/>
    <link th:href="${session.staticResourcePath +'/static/dist/css/tabler.min.css'}" rel="stylesheet"/>
    <link th:href="${session.staticResourcePath +'/static/dist/css/demo.min.css'}" rel="stylesheet"/>
    <!-- JS files -->
    <script th:src="${session.staticResourcePath +'/static/lib/jquery/3.2.1/jquery.min.js'}"></script>
    <script th:src="${session.staticResourcePath +'/static/js/common.js'}"></script>

    <!-- 百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b417d9fbc3836ef451ac2631747ca0ae";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<!--头部右边 是否登录还是显示用户头像-->
<div th:fragment="logoImage">
    <a th:href="@{/index.html}"
       class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
        <img th:src="${session.staticResourcePath + '/static/image/funny/'+ #numbers.formatDecimal(T(java.lang.Math).floor(T(java.lang.Math).random()*100%15),1,0) + '.gif'}"
             alt="Tabler"
             class="navbar-brand-image">
    </a>
</div>

<!--头部右边 是否登录还是显示用户头像-->
<div th:fragment="navigationBar">
    <div class="navbar-nav flex-row order-md-last" th:style="${session.sessionUser==null}?'':'display:none;'">
        <div class="nav-item dropdown">
            <a class="nav-link" href="javascript:login()">
                <span class="nav-link-title">登录</span>
            </a>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link" href="javascript:register()">
                <span class="nav-link-title">注册</span>
            </a>
        </div>
        <div class="nav-item dropdown">
            <a th:href="@{index}" href="#" id="" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
                <span class="avatar"
                      th:style="${'background-image: url(' + session.staticResourcePath+'/static/image/user/user.jpg)'}"></span>
                <div class="d-none d-xl-block pl-2">
                    <div>OneDay</div>
                    <div class="mt-1 small text-muted">Java Engineer</div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{/index.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                    Action
                </a>
                <a class="dropdown-item" th:href="@{/index.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"/>
                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"/>
                        <line x1="16" y1="5" x2="19" y2="8"/>
                    </svg>
                    Another action
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/index.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <line x1="12" y1="5" x2="12" y2="19"/>
                        <line x1="5" y1="12" x2="19" y2="12"/>
                    </svg>
                    Separated link</a>
            </div>
        </div>
    </div>

    <div class="navbar-nav flex-row order-md-last" th:style="${session.sessionUser!=null}?'':'display:none;'">
        <div class="nav-item dropdown d-none d-md-flex mr-3">
            <a th:href="@{index}" href="#" class="nav-link px-0" data-toggle="dropdown" tabindex="-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
                </svg>
                <span class="badge bg-red"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur
                        exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet debitis
                        et magni maxime necessitatibus ullam.
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item dropdown" id="showUserDropdown">
            <a th:href="@{index}" href="#" id="userMenuDropdown" class="nav-link d-flex lh-1 text-reset p-0"
               data-toggle="dropdown">
                <span class="avatar"
                      th:style="${'background-image: url(' + session.staticResourcePath+'/static/image/user/user.jpg)'}"></span>
                <div class="d-none d-xl-block pl-2">
                    <div th:text="${session.sessionUser != null ? session.sessionUser.userName : 'OneDay'}">Paweł Kuna
                    </div>
                    <div th:text="${session.sessionUser != null ? session.sessionUser.nickname : 'Java Engineer'}"
                         class="mt-1 small text-muted">UI Designer
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" id="userMenu">
                <a class="dropdown-item" th:href="@{/index.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                    Action
                </a>
                <a class="dropdown-item" th:href="@{/index.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"/>
                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"/>
                        <line x1="16" y1="5" x2="19" y2="8"/>
                    </svg>
                    Another action
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/index.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <line x1="12" y1="5" x2="12" y2="19"/>
                        <line x1="5" y1="12" x2="19" y2="12"/>
                    </svg>
                    Separated link</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/doLoginOut.html}" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                    退出
                </a>
            </div>
        </div>
    </div>
</div>

<!--导航栏-->
<div th:fragment="navigationMenu(active)">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar navbar-light">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item active"
                        th:class="${(active != null && active eq 'index') ? 'nav-item active' : 'nav-item'}">
                        <a target="_blank" class="nav-link" th:href="@{/index.html}">
						<span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     class="icon" width="24" height="24"
                                                                                     viewBox="0 0 24 24"
                                                                                     stroke-width="2"
                                                                                     stroke="currentColor" fill="none"
                                                                                     stroke-linecap="round"
                                                                                     stroke-linejoin="round"><path
                                stroke="none" d="M0 0h24v24H0z"/><polyline points="5 12 3 12 12 3 21 12 19 12"/><path
                                d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                                d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
						</span>
                            <span class="nav-link-title">
						  首页
						</span>
                        </a>
                    </li>
                    <li id="showBlogCategory" class="nav-item dropdown"
                        th:class="${(active != null && active eq 'blog') ? 'nav-item dropdown active' : 'nav-item dropdown'}">
                        <!--这个a标签不能动-->
                        <a id="showBlogCategoryA" target="_blank" class="nav-link dropdown-toggle" href="#navbar-base"
                           data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     class="icon" width="24" height="24"
                                                                                     viewBox="0 0 24 24"
                                                                                     stroke-width="2"
                                                                                     stroke="currentColor" fill="none"
                                                                                     stroke-linecap="round"
                                                                                     stroke-linejoin="round"><path
                                stroke="none" d="M0 0h24v24H0z"/><polyline
                                points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"/><line x1="12" y1="12" x2="20"
                                                                                            y2="7.5"/><line x1="12"
                                                                                                            y1="12"
                                                                                                            x2="12"
                                                                                                            y2="21"/><line
                                x1="12" y1="12" x2="4" y2="7.5"/><line x1="16" y1="5.25" x2="8" y2="9.75"/></svg>
						</span>
                            <span class="nav-link-title">博客归类
						</span>
                        </a>
                        <ul id="showBlogCategoryUl"
                            class="dropdown-menu dropdown-menu-columns  dropdown-menu-columns-2">
                            <li>
                                <a target="_blank" class="dropdown-item" th:href="${'/blog/article/list.html'}"
                                   href="#">
                                    所有文章
                                </a>
                            </li>
                            <li th:if="${session['potalDataMap'] != null && session['potalDataMap']['categoryMapList'] != null}"
                                th:each="categoryMap,categoryStat : ${session.potalDataMap['categoryMapList']}">
                                <a target="_blank" class="dropdown-item" th:text="${categoryMap['categoryName']}"
                                   th:href="${'/blog/article/list.html?categoryName='+categoryMap['categoryName']+'&categoryId='+categoryMap['id']}"
                                   href="#">
                                    JavaEE
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"
                        th:class="${(active != null && active eq 'picture') ? 'nav-item active' : 'nav-item'}">
                        <a target="_blank" class="nav-link" th:href="@{/girl/index.html}" href="picture/index.html">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                      d="M0 0h24v24H0z"></path><line
                                    x1="15" y1="6" x2="15.01" y2="6"></line><rect x="3" y="3" width="18" height="14"
                                                                                  rx="3"></rect><path
                                    d="M3 13l4 -4a3 5 0 0 1 3 0l 4 4"></path><path
                                    d="M13 12l2 -2a3 5 0 0 1 3 0l 3 3"></path><line x1="8" y1="21" x2="8.01"
                                                                                    y2="21"></line><line x1="12" y1="21"
                                                                                                         x2="12.01"
                                                                                                         y2="21"></line><line
                                    x1="16" y1="21" x2="16.01" y2="21"></line></svg></span>
                            <span class="nav-link-title">
						  二次元少女
						</span>
                        </a>
                    </li>
                    <li class="nav-item"
                        th:class="${(active != null && active eq 'book') ? 'nav-item active' : 'nav-item'}">
                        <a target="_blank" class="nav-link" th:href="@{/book/index.html}" href="video/video.html">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path
                                    d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/><line
                                    x1="3" y1="6" x2="3" y2="19"/><line x1="12" y1="6" x2="12" y2="19"/><line x1="21"
                                                                                                              y1="6"
                                                                                                              x2="21"
                                                                                                              y2="19"/></svg>
						</span>
                            <span class="nav-link-title">
						  小说
						</span>
                        </a>
                    </li>
                    <li class="nav-item"
                        th:class="${(active != null && active eq 'video') ? 'nav-item dropdown active' : 'nav-item dropdown'}">
                        <a target="_blank" class="nav-link" th:href="@{/video/index.html}" href="video/video.html">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z"></path>
								<rect x="4" y="13" rx="2" width="5" height="7"></rect>
								<rect x="15" y="13" rx="2" width="5" height="7"></rect>
								<path d="M4 15v-3a8 8 0 0 1 16 0v3"></path>
							</svg>
						</span>
                            <span class="nav-link-title">
						  视频MV
						</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" th:href="@{/sys/index.html}" href="sys/index.html">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path
                                    d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/><line
                                    x1="3" y1="6" x2="3" y2="19"/><line x1="12" y1="6" x2="12" y2="19"/><line x1="21"
                                                                                                              y1="6"
                                                                                                              x2="21"
                                                                                                              y2="19"/></svg>
						</span>
                            <span class="nav-link-title">
						  后台管理
						</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="#">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                      fill="none"></path><path
                                    d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                                    d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path><line
                                    x1="9" y1="9" x2="10" y2="9"></line><line x1="9" y1="13" x2="15" y2="13"></line><line
                                    x1="9" y1="17" x2="15" y2="17"></line></svg>
						</span>
                            <span class="nav-link-title">
						  关于
						</span>
                        </a>
                    </li>
                </ul>
                <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last" id="totalSearchDiv">
                    <form action=".." method="get">
                        <div class="input-icon">
						<span class="input-icon-addon">
						  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                               viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                               stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><circle
                                  cx="10" cy="10" r="7"/><line x1="21" y1="21" x2="15" y2="15"/></svg>
						</span>
                            <input type="text" class="form-control" placeholder="Search…">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer th:fragment="footer" class="footer footer-transparent">
    <div class="container">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ml-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a target="_blank" href="http://beian.miit.gov.cn"
                                                    class="link-secondary">渝ICP备18005938号</a></li>
                    <li class="list-inline-item"><a target="_blank" href="./faq.html" class="link-secondary">FAQ</a>
                    </li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/tabler/tabler"
                                                    class="link-secondary">Source code</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                Copyright © 2020
                <a target="_blank" href="." class="link-secondary">xwder.com</a>.
                All rights reserved.
            </div>
        </div>
    </div>
</footer>


<body th:fragment="chatContainer">
<div class="chatContainer">
    <div class="chatBtn">
        <i class="iconfont icon-xiaoxi1"></i>
    </div>
    <div class="chat-message-num">10</div>
    <div class="chatBox" ref="chatBox" style="display: none;">
        <div class="chatBox-head">
            <div class="chatBox-head-one">
                Conversations
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
            </div>
            <div class="chatBox-head-two">
                <div class="chat-return">返回</div>
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像"/>
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                </div>
                <div class="chat-close">关闭</div>
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-list" ref="chatBoxlist">
                <div class="chat-list-people">
                    <div><img src="img/icon01.png" alt="头像"
                              th:src="${session.staticResourcePath +'/static/chat/img/icon01.png'}"/></div>
                    <div class="chat-name">
                        <p>自酌一杯酒</p>
                    </div>
                    <div class="message-num">10</div>
                </div>
                <div class="chat-list-people">
                    <div><img src="img/icon02.png" alt="头像"
                              th:src="${session.staticResourcePath +'/static/chat/img/icon02.png'}"/></div>
                    <div class="chat-name">
                        <p>白兰地</p>
                    </div>
                    <div class="message-num">8</div>
                </div>
                <div class="chat-list-people">
                    <div><img src="img/icon03.png" alt="头像"
                              th:src="${session.staticResourcePath +'/static/chat/img/icon03.png'}"/></div>
                    <div class="chat-name">
                        <p>威士忌</p>
                    </div>
                    <div class="message-num">2</div>
                </div>
            </div>
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">
                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img src="img/icon01.png" alt="头像"
                                                               th:src="${session.staticResourcePath +'/static/chat/img/icon01.png'}"/>
                                </div>
                                <div class="chat-message">
                                    给你看张图
                                </div>
                            </div>
                        </div>
                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img src="img/icon01.png" alt="头像"
                                                               th:src="${session.staticResourcePath +'/static/chat/img/icon01.png'}"/>
                                </div>
                                <div class="chat-message">
                                    <img src="img/1.png" alt=""
                                         th:src="${session.staticResourcePath +'/static/chat/img/1.png'}">
                                </div>
                            </div>
                        </div>
                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="right">
                                <div class="chat-message">嗯，适合做壁纸</div>
                                <div class="chat-avatars"><img src="img/icon02.png" alt="头像"
                                                               th:src="${session.staticResourcePath +'/static/chat/img/icon02.png'}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-biaoqing" class="btn-default-styles">
                            <i class="iconfont icon-biaoqing"></i>
                        </button>
                        <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                            <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                   name="file" id="inputImage" class="hidden">
                            <i class="iconfont icon-tuxiang"></i>
                        </label>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <ul>
                            <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    screenFuc();
    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);
        }
    }

    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });


    //打开/关闭聊天框
    $(".chatBtn").click(function () {
        $(".chatBox").toggle(10);
    })
    $(".chat-close").click(function () {
        $(".chatBox").toggle(10);
    })
    //进聊天页面
    $(".chat-list-people").each(function () {
        $(this).click(function () {
            var n = $(this).index();
            $(".chatBox-head-one").toggle();
            $(".chatBox-head-two").toggle();
            $(".chatBox-list").fadeToggle();
            $(".chatBox-kuang").fadeToggle();

            //传名字
            $(".ChatInfoName").text($(this).children(".chat-name").children("p").eq(0).html());

            //传头像
            $(".ChatInfoHead>img").attr("src", $(this).children().eq(0).children("img").attr("src"));

            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    //返回列表
    $(".chat-return").click(function () {
        $(".chatBox-head-one").toggle(1);
        $(".chatBox-head-two").toggle(1);
        $(".chatBox-list").fadeToggle(1);
        $(".chatBox-kuang").fadeToggle(1);
    });

    //      发送信息
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
        if (textContent != "") {
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"http://localhost:8080/static/image/user/user.jpg\" alt=\"头像\" /></div> </div> </div>");
            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        }
    });

    //  发送表情
    $("#chat-biaoqing").click(function () {
        $(".biaoqing-photo").toggle();
    });
    $(document).click(function () {
        $(".biaoqing-photo").css("display", "none");
    });
    $("#chat-biaoqing").click(function (event) {
        event.stopPropagation();//阻止事件
    });

    $(".emoji-picker-image").each(function () {
        $(this).click(function () {
            var bq = $(this).parent().html();
            console.log(bq)
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"http://localhost:8080/static/image/user/user.jpg\" alt=\"头像\" /></div> </div> </div>");
            //发送后关闭表情框
            $(".biaoqing-photo").toggle();
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    // 发送图片
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
                "<div class=\"chat-avatars\"><img src=\"http://localhost:8080/static/image/user/user.jpg\" alt=\"头像\" /></div> </div> </div>");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        };
        reader.readAsDataURL(pic.files[0]);
    }

</script>
</body>