<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:if="${articleMap != null}" th:text="${articleMap['article'].title}">预览</title>

<!--<link rel="stylesheet" th:href="${'/static/lib/live2d-widget/font-awesome.min.css'}">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" th:src="${session.staticResourcePath + '/static/lib/live2d-widget/autoload.js'}"></script>

<link rel="stylesheet" th:href="${session.staticResourcePath + '/static/css/blog/article.css'}">
<!--评论模块css-->
<link rel="stylesheet" th:href="${session.staticResourcePath + '/static/comment/css/style.css'}">
<link rel="stylesheet" th:href="${session.staticResourcePath + '/static/comment/css/comment.css'}">
<link rel="stylesheet" th:href="${session.staticResourcePath + '/static/lib/highlight/css/default.min.css'}">
<!--点击图片放大css-->
<link rel="stylesheet" th:href="${session.staticResourcePath + '/static/lib/imgenlarge/js/zoomify.min.css'}">
<head th:include="include :: head"></head>
<body class="antialiased">
<div class="page">
    <header class="navbar navbar-expand-md navbar-light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--头部左边logo-->
            <div th:replace="include :: logoImage"></div>
            <!--头部右边 是否登录还是显示用户头像-->
            <div th:replace="include :: navigationBar">
            </div>
        </div>
    </header>
    <!--导航栏-->
    <div th:include="include :: navigationMenu('blog')" class="navbar-expand-md"></div>
    <!--content-->
    <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto" style="text-align: center;width: 100%">
                        <div class="article-header-box">
                            <div class="article-header">
                                <div class="article-title-box">
                                    <h1 class="title-article" id="articleContentId" th:if="${articleMap != null}"
                                        th:text="${articleMap['article'].title}">Ueditor 图片自定义上传</h1>
                                </div>
                                <div class="article-info-box">
                                    <div class="article-bar-top">
                                        <input type="hidden" id="blogId" th:value="${articleMap['article'].id}">
                                        <input type="hidden" id="blogUserId" th:value="${articleMap['article'].userId}">
                                        <!--文章类型-->
                                        <!--原创-->
                                        <img class="article-type-img"
                                             th:src="${session.staticResourcePath + (articleMap['article'].articleType eq '原创' ? '/static/image/blog/original.png' : (articleMap['article'].articleType eq '转载' ? '/static/image/blog/reprint.png' : '/static/image/blog/translate.png'))}"
                                             src="https://csdnimg.cn/release/phoenix/template/new_img/original.png"
                                             alt="">
                                        <!--翻译-->
                                        <!--转载-->
                                        <div class="bar-content">
                                            <a class="follow-nickName" href="https://me.csdn.net/Only_Wan"
                                               target="_blank" rel="noopener" th:if="${articleMap != null}"
                                               th:text="${articleMap['article'].userName}">Only_Wan</a>
                                            <span class="time" th:if="${articleMap != null}"
                                                  th:text="${#dates.format(articleMap['article'].publishTime, 'yyyy-MM-dd HH:mm')}">2017-04-06 14:19:56</span>
                                            <img class="article-read-img article-heard-img"
                                                 th:src="${session.staticResourcePath + '/static/image/blog/articleReadEyes.png'}"
                                                 src="https://csdnimg.cn/release/phoenix/template/new_img/articleReadEyes.png"
                                                 alt="">
                                            <span class="read-count" th:if="${articleMap != null}"
                                                  th:text="${articleMap['article'].readCount}">3960</span>
                                            <a id="blog_detail_zk_collection" class="un-collection"
                                               data-report-click="{&quot;mod&quot;:&quot;popu_823&quot;,&quot;spm&quot;:&quot;1001.2101.3001.4232&quot;,&quot;ab&quot;:&quot;new&quot;}">
                                                <img class="article-collect-img article-heard-img un-collect-status"
                                                     th:src="${session.staticResourcePath + '/static/image/blog/tobarCollect.png'}"
                                                     style="display:inline-block"
                                                     src="https://csdnimg.cn/release/phoenix/template/new_img/tobarCollect.png"
                                                     alt="">
                                                <img class="article-collect-img article-heard-img collect-status"
                                                     style="display:none"
                                                     th:src="${session.staticResourcePath + '/static/image/blog/tobarCollectionActive.png'}"
                                                     src="https://csdnimg.cn/release/phoenix/template/new_img/tobarCollectionActive.png"
                                                     alt="">
                                                <span class="name">收藏</span>
                                                <span class="get-collection">
                                                </span>
                                            </a>
                                            <a class="href-article-edit" href="" target="_blank"
                                               th:if="${articleMap != null && session.sessionUser != null && session.sessionUser.userName eq  articleMap['article'].userName}"
                                               th:href="${(articleMap['article'].mdContent == null || articleMap['article'].mdContent eq '')
                                                                ?'/blog/edit/article.html?id='+articleMap['article'].id : '/blog/editmd/article.html?id='+articleMap['article'].id}">编辑</a>
                                            <a class="href-article-edit slide-toggle">版权</a>
                                        </div>
                                    </div>
                                    <div class="blog-tags-box">
                                        <div class="tags-box artic-tag-box" th:if="${articleMap != null}">
                                            <span class="label">分类专栏：</span>
                                            <a class="tag-link" target="_blank" rel="noopener" href=""
                                               th:href="${'/blog/article/list.html'+'?categoryId='+articleMap['category'].id + '&categoryName='+ articleMap['category'].categoryName}"
                                               th:if="${articleMap != null}"
                                               th:text="${articleMap['category'].categoryName}">
                                                web应用开发 </a>
                                            <span class="label">文章标签：</span>
                                            <span th:if="${articleMap['tagList'] != null}"
                                                  th:each="tag,tagStat : ${articleMap['tagList']}">
                                                <a th:if="${tag != null}" th:text="${tag.tagName}" class="tag-link"
                                                   th:href="${'/blog/article/list.html'+'?tagId='+tag.id + '&tagName='+ tag.tagName}"
                                                   href="" target="_blank" rel="noopener">富文本编辑器 </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-none d-lg-block col-lg-3 order-lg-1 mb-4">
                    <div class="sticky-top">
                        <h2 class="">文章目录</h2>
                        <!--显示文章标题导航-->
                        <div class="article_navigation" id="article_navigation"></div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card card-lg">
                        <div class="card-body" style="padding: 0.5rem;">
                            <div class="markdown" id="blog-content">
                                <div th:if="${articleMap != null}" th:utext="${articleMap['article'].content}"
                                     class="content" id="contentCardBody"></div>
                            </div>
                        </div>
                    </div>
                    <!--博客文章评论模块-->
                    <div id="blogComment" class="commentAll col-lg-12">

                        <div class="reviewArea clearfix">
                            <textarea class="content comment-input" placeholder="发表评论可以通知文章作者尽快回复哦&hellip;"
                                      onkeyup="keyUP(this)"></textarea>
                            <a href="javascript:;" class="plBtn">评论</a>
                        </div>


                        <div class="comment-show">
                            <!--评论信息-->
                            <div class="comment-show-con clearfix" th:if="${commentList != null}"
                                 th:each="completeCommentMap,completeCommentMapStat : ${commentList}">
                                <div class="comment-show-con-img pull-left">
                                    <img src="images/header-img-comment_03.png"
                                         th:src="${completeCommentMap['comment'].fromAvatar}" alt="">
                                </div>
                                <div class="comment-show-con-list pull-left clearfix">
                                    <div class="pl-text clearfix">
                                        <a href="#" class="comment-size-name"
                                           th:text="${completeCommentMap['comment'].fromName+' : '}">OneDay : </a>
                                        <span class="my-pl-con" th:text="${completeCommentMap['comment'].content}">&nbsp;来啊 造作啊!</span>
                                    </div>
                                    <div class="date-dz">
                                        <span class="date-dz-left pull-left comment-time"
                                              th:text="${completeCommentMap['comment'].commentTime}">2017-5-2 11:11:39</span>
                                        <div class="date-dz-right pull-right comment-pl-block">
                                            <a href="javascript:;" class="removeBlock"
                                               th:if="${sessionUser != null && sessionUser.id eq completeCommentMap['comment'].fromId}">删除</a>
                                            <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left"
                                               th:attr="commentId=${completeCommentMap['comment'].id},fromId=${completeCommentMap['comment'].fromId}">回复</a>
                                            <span class="pull-left date-dz-line">|</span>
                                            <a href="javascript:;" class="date-dz-z pull-left"><i
                                                    class="date-dz-z-click-red"></i>赞 (<i class="z-num"
                                                                                          th:text="${completeCommentMap['comment'].likeNum}">666</i>)</a>
                                        </div>
                                    </div>
                                    <!--评论回复列表-->
                                    <div class="hf-list-con">
                                        <div class="all-pl-con" th:if="${completeCommentMap['commentReplys'].size()>0}"
                                             th:each="commentReply,commentReplyStat : ${completeCommentMap['commentReplys']}">
                                            <div class="pl-text hfpl-text clearfix">
                                                <a href="#" class="comment-size-name"
                                                   th:text="${commentReply.fromName+' :'}">xwder : </a>
                                                <span class="my-pl-con">回复<a href="#" class="atName"
                                                                             th:text="${'@'+commentReply.toName}">@xwder</a> :      <sapn
                                                        th:text="${'@'+commentReply.content}">回复内容</sapn></span>
                                            </div>
                                            <div class="date-dz"><span class="date-dz-left pull-left comment-time">2020-10-24 00:09:48</span>
                                                <div class="date-dz-right pull-right comment-pl-block">
                                                    <a href="javascript:;" class="removeBlock"
                                                       th:if="${sessionUser != null && sessionUser.id eq commentReply.fromId}">删除</a>
                                                    <a href="javascript:;"
                                                       class="date-dz-pl pl-hf hf-con-block pull-left"
                                                       th:attr="commentId=${completeCommentMap['comment'].id},toId=${commentReply.toId},fromId=${commentReply.fromId}">回复</a>
                                                    <span class="pull-left date-dz-line">|</span>
                                                    <a href="javascript:;" class="date-dz-z pull-left"><i
                                                            class="date-dz-z-click-red"></i>赞 (<i class="z-num"
                                                                                                  th:text="${commentReply.likeNum}">0</i>)</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Libs JS -->
<script th:src="${session.staticResourcePath + '/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js'}"></script>
<!-- 代码高亮 -->
<script th:src="${session.staticResourcePath + '/static/lib/highlight/js/highlight.min.js'}"></script>
<!--点击图片放大 博客文章中的的图片-->
<script th:src="${session.staticResourcePath + '/static/lib/imgenlarge/js/zoomify.min.js'}"></script>
<script>
    // 点击图片放大
    $('#blog-content img').zoomify();

    // 实现代码高亮的函数。
    hljs.initHighlightingOnLoad();
    // 由于UEditor的代码中都是<pre>标签包裹的代码，所以执行下面的操作为其添加<code>标签。
    var allpre = document.getElementsByTagName("pre");
    for (i = 0; i < allpre.length; i++) {
        var onepre = document.getElementsByTagName("pre")[i];
        var mycode = document.getElementsByTagName("pre")[i].innerHTML;
        onepre.innerHTML = '<code id="mycode">' + mycode + '</code>';
    }
    // 右侧文章目录
    $(document).ready(function () {
        $("#contentCardBody").children().each(function (index, element) {
            var tagName = $(this).get(0).tagName;
            if (tagName.substr(0, 1).toUpperCase() === "H") {
                var contentH = $(this).html();//获取内容
                contentH = repalceHtml(contentH);
                var markid = "mark-" + tagName + "-" + index.toString();
                $(this).attr("id", markid);//为当前h标签设置id
                let spaceNum = "";
                if (tagName === 'H1') {
                    spaceNum = "";
                } else if (tagName === 'H2') {
                    spaceNum = "";
                } else if (tagName === 'H3') {
                    spaceNum = "1.5";
                } else if (tagName === 'H4') {
                    spaceNum = "3";
                } else if (tagName === 'H5') {
                    spaceNum = "4.5";
                } else if (tagName === 'H6') {
                    spaceNum = "6";
                }
                $("#article_navigation").append("<a href='#" + markid + "'" + " style='text-indent: " + spaceNum + "em'" + ">" + contentH + "</a>");//在目标DIV中添加内容
            }
        });
    });

    // 过滤html标签
    function repalceHtml(str) {
        var dd = str.replace(/<\/?.+?>/g, "");
        var dds = dd.replace(/ /g, "");//dds为得到后的内容
        return dds;
    }
</script>
<!--评论模块js-->
<script type="text/javascript" th:src="${session.staticResourcePath + '/static/comment/js/jquery.flexText.js'}" src="js/jquery.flexText.js"></script>
<script type="text/javascript" th:src="${session.staticResourcePath + '/static/comment/js/comment.js'}" src="js/jquery.flexText.js"></script>
</body>
<style>
    /*显示文章内容页面右方导航列表样式*/
    .article_navigation {
        /*width:300px;
        background:#fff;
        border:1px #32c6c6 solid;
        border-radius:4px;*/
        /*position:fixed;*/
        right: 0;
        padding: 0 6px;
        /*margin-top: 200px;*/
        z-index: 9999;
        overflow: auto;
        max-height: 800px;
        /*display: block;*/
    }

    .article_navigation a {
        width: 100%;
        height: 1px;
        line-height: 30px;
        display: inline-block;
        color: #6e7582;
    }
</style>
</html>