<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>博客文章列表</title>
<link rel="stylesheet" th:href="@{/static/css/blog/article.list.css}">
<link th:href="@{/static/css/book/book.css}" href="http://v.xwder.com/xwder/book/book.css" rel="stylesheet"/>
<head th:include="include :: head"></head>
<body class="antialiased">
<div class="page">
    <header class="navbar navbar-expand-md navbar-light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--头部左边logo-->
            <div th:replace="include :: logoImage"></div>
            <!--头部右边 是否登录还是显示用户头像-->
            <div th:replace="include :: navigationBar">
            </div>
        </div>
    </header>
    <!--导航栏-->
    <div th:include="include :: navigationMenu('blog')" class="navbar-expand-md"></div>

    <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h2 class="page-title">
                            <a href="" th:href="${'/blog/article/list.html'}">博客归类 </a>
                            <a href="#"><span th:if="${categoryInfo != null}"
                                              th:text="${'-> ' + categoryInfo.categoryName}">MySQL数据库</span></a>
                        </h2>
                    </div>
                    <div class="col-auto">
                        <div class="text-muted text-h5 mt-2"
                             th:text="${'About '+ totalArticles + ' result ('+useTime+' seconds)'}">About 2,410 result
                            (0.19 seconds)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <form action="" method="get">
                        <div class="subheader mb-2">博客分类</div>
                        <div class="list-group list-group-transparent mb-3">
                            <div th:if="${categoryMapList != null}"
                                 th:each="categoryMap,categoryStat : ${categoryMapList}">
                                <a class="list-group-item list-group-item-action d-flex align-items-center"
                                   th:class="${(categoryId != null && categoryMap['id'] eq categoryId )?'list-group-item list-group-item-action d-flex align-items-center active' : 'list-group-item list-group-item-action d-flex align-items-center'}"
                                   th:href="${'/blog/article/list.html?categoryName=' + categoryMap['categoryName'] + '&categoryId='+ categoryMap['id']}">
                                    <span th:text="${categoryMap['categoryName']}">SpringCloud</span>
                                    <span class="text-muted ml-auto"
                                          th:text="'( '+${categoryMap['count']}+' )'">24</span>
                                </a>
                            </div>
                            <div>
                                <a class="list-group-item list-group-item-action d-flex align-items-center <!--active-->"
                                   href="#"
                                   th:href="${'/blog/article/list.html' + (pageNum == null ? '' : ('?pageNum='+pageNum)) +(pageSize == null ? '': ('&pageSize='+pageSize))}">
                                    <span>所有文章</span>
                                    <span class="text-muted ml-auto" th:text="'( '+${totalArticles}+' )'">( 24 )</span>
                                </a>
                            </div>
                        </div>
                        <div class="subheader mb-2">博客标签</div>
                        <div class="subheader mb-3">
                            <div class="form-selectgroup form-selectgroup-pills">
                    <span th:if="${tags != null}"
                          th:each="tag,tagStat : ${tags}">
                      <a th:href="${'/blog/article/list.html'+'?tagId='+tag.id + '&tagName='+ tag.tagName}">
                        <label class="form-selectgroup-item">
                         <span class="form-selectgroup-label"
                               th:style="${(tag.id eq tagId) ? 'color: #206bc4;background: rgba(32,107,196,.04);border-color: #206bc4;' :''}"
                               th:text="${tag.tagName}">HTML</span>
                        </label>
                      </a>
                    </span>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="posts widget">
                            <ul class="posts-list">

                                <div class="post-list-item"
                                     th:if="${articles != null}"
                                     th:each="article,articleStat : ${articles}">
                                    <li class="content">
                                        <div class="content-box">
                                            <a href="/post/4" target="_blank"
                                               th:href="'/blog/article/'+ ${article.id}+'.html'">
                                                <div class="posts-item-img feature_img">

                                                    <i class="icon-frame"></i>
                                                    <div class="overlay">
                                                        <img class="lazy thumbnail"
                                                             th:src="${(article.previewImage == null || article.previewImage eq '') ? 'https://cdn.xwder.com/image/blog/xwder/1-20200930133425343.jpg' : article.previewImage}"
                                                             src="https://cdn.xwder.com/image/blog/xwder/1-20200930133425343.jpg"
                                                             style="display: inline-block;object-fit: cover;">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="posts-item posts-item-gallery">
                                                <h2>
                                                    <a href="/post/4" target="_blank" th:text="${article.title}"
                                                       th:href="'/blog/article/'+ ${article.id}+'.html'">linux环境离线安装nginx</a>
                                                </h2>
                                                <div class="item-text hidden-xs"
                                                     th:utext="'&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; '+${article.summary}">
                                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                    内网环境需要用到nginx时，就需要使用nginx离线安装包进行安装。由于nginx自linux环境需要自行编译后才能安装，编译时nginx会依赖第三方应用，本章介绍nginx...
                                                </div>
                                                <div class="item-info">
                                                    <ul>
                                                        <li class="post-author hidden-xs">
                                                            <div class="avatar">
                                                                <span class="avatar"
                                                                      style="background-image: url(https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=80&size=b150_150&subsize=20480&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&srctrace&di=025a2098797ebd8640060bcc4663cb9e&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F562c11dfa9ec8a13424f9c95fc03918fa0ecc06a.jpg)"></span>
                                                            </div>
                                                            <div class="avatar-name">
                                                                <a href="/users/1" target="_blank"
                                                                   th:text="${currentUser.userName}">无意</a>
                                                            </div>
                                                        </li>

                                                        <li class="ico-time">
                                                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                                <img th:src="@{/static/image/blog/clock.png}">
                                                            </span>
                                                            <span class="nav-link-title" th:text="${article.remark}">
                                                            19小时前
                                                            </span>
                                                        </li>
                                                        <li class="ico-time"
                                                            th:if="${session.sessionUser != null && session.sessionUser.id eq article.userId}">
                                                            <a th:href="${(article.mdContent == null || article.mdContent eq '')
                                                                ?'/blog/edit/article.html?id='+article.id : '/blog/editmd/article.html?id='+article.id}"
                                                               target="_blank">
                                                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                                    <img th:src="@{/static/image/blog/edit.png}">
                                                                </span>
                                                                <span class="nav-link-title">
                                                                    编辑
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ol class="post-meta meta mar10-t clearfix hidden-xs">
                                                        <img th:src="@{/static/image/blog/liulan.png}"
                                                             style="margin-left: 5px;margin-right: 4px;"><span
                                                            th:text="${article.readCount}">5</span>
                                                        <img th:src="@{/static/image/blog/commits.png}"
                                                             style="margin-left: 8px;margin-right: 4px;"><span
                                                            th:text="${article.comments}">5</span>
                                                        <img th:src="@{/static/image/blog/sc.png}"
                                                             style="margin-left: 8px;margin-right: 4px;"><span
                                                            th:text="${article.favors}">5</span>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <!-- 分页 -->
                    <div class="d-flex" style="margin-top: 15px;">
                        <ul class="pagination ml-auto">

                            <!-- 首页 -->
                            <li class="page-item pageItem"><a class="page-link" href="#"
                                                              th:href="${'/blog/article/list.html' + '?pageNum=1'+(pageSize == null ? '': ('&pageSize='+pageSize))+ (category==null?'':('&categoryId='+categoryId)+'&categoryName='+category.categoryName) + (tag==null?'':('&tagName='+tag.tagName)+'&tagId='+tag.id) }">首页</a>
                            </li>

                            <!-- 上一页 -->
                            <li class="page-item pageItem disabled" th:if="${articlePage.hasPrevious()}"
                                th:class="${articlePage.hasPrevious()?'page-item pageItem':'page-item pageItem disabled'}">
                                <a class="page-link" href="#"
                                   th:href="${'/blog/article/list.html' + '?pageNum=' + (articlePage.previousPageable().getPageNumber()+1)+(pageSize == null ? '': ('&pageSize='+pageSize))+ (category==null?'':('&categoryId='+categoryId)+'&categoryName='+category.categoryName) + (tag==null?'':('&tagName='+tag.tagName)+'&tagId='+tag.id)}"
                                   tabindex="-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <polyline points="15 6 9 12 15 18"/>
                                    </svg>
                                    上一页
                                </a>
                            </li>

                            <span th:each="pageNum:${#numbers.sequence((currentPage+-2), (currentPage+2))}">
                    <li class="page-item active"
                        th:class="${pageNum==currentPage} ? 'page-item pageItem active' : 'page-item pageItem'"
                        th:if="${((pageNum le articlePage.getTotalPages()) && (pageNum gt 0)) && (pageNum le articlePage.getTotalPages())}">
                      <a class="page-link"
                         th:href="${'/blog/article/list.html' + '?pageNum=' + pageNum+(pageSize == null ? '': ('&pageSize='+pageSize))+ (category==null?'':('&categoryId='+categoryId)+'&categoryName='+category.categoryName) + (tag==null?'':('&tagName='+tag.tagName)+'&tagId='+tag.id)}"
                         th:text="${pageNum}" href="#">2</a>
                    </li>
                  </span>
                            <!-- 中间页 -->


                            <!-- 下一页 -->
                            <li class="page-item pageItem"><a class="page-link" href="#"
                                                              th:if="${articlePage.hasNext()}"
                                                              th:href="${'/blog/article/list.html' + '?pageNum=' + (articlePage.nextPageable().getPageNumber()+1)+(pageSize == null ? '': ('&pageSize='+pageSize))+ (category==null?'':('&categoryId='+categoryId)+'&categoryName='+category.categoryName) + (tag==null?'':('&tagName='+tag.tagName)+'&tagId='+tag.id)}"
                                                              th:text="下一页">3</a></li>

                            <!-- 尾页 -->
                            <li class="page-item pageItem"><a class="page-link" href="#"
                                                              th:href="${'/blog/article/list.html' + '?pageNum=' + articlePage.getTotalPages()+(pageSize == null ? '': ('&pageSize='+pageSize))+ (category==null?'':('&categoryId='+categoryId)+'&categoryName='+category.categoryName) + (tag==null?'':('&tagName='+tag.tagName)+'&tagId='+tag.id)}">尾页</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="include :: footer" class="footer footer-transparent"></footer>
</div>

</div>


<!-- Libs JS -->
<script th:src="@{/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js}" src=""></script>
<script th:src="@{/static/lib/highlight/js/highlight.min.js}"
        src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>

<script>
    /*document.body.style.display = "block"*/
</script>
</body>
</html>